.center {
  text-align: center;
}
* {
  box-sizing: border-box;
}
.sidebar {
  height: 100vh;
  width: 230px;
  max-height: 100vh;
  display: inline-block;
  float: left;
  background-color: #111;
  color: #fff;
}
.mapContainer {
  display: inline-block;
  width: calc(100% - 230px);
}
.inputFilter {
  margin: auto;
  display: block;
  padding: 5px 10px;
}
.places-list {
  padding-left: 0px;
  overflow-y: auto;
  max-height: calc(100vh - 170px);
}
.place-item {
  list-style-type: none;
  padding: 10px 0px 10px 10px;
  border-bottom: #444 solid 1px;
  cursor: pointer;
}
.place-item:hover {
  background-color: #333;
}
.dataCredits {
  font-size: 0.9rem;
  text-align: center;
}
.dataCredits a {
  color: #fff;
}

@media (max-width: 769px) {
  .mapContainer {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
}
